<!DOCTYPE html>
<html lang='en' ng-app='codelink'>
  <head>
    <meta charset="UTF-8">
    <title>CodeLink</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="codelinkController as codelinkCtrl">

    <header>
      <h1>CodeLink</h1>
      <h2>Crowdsoured resources learning code</h2>
    </header>

    <section ng-controller="panelController as panelCtrl">
      <ul class="nav nav-pills">
        <!-- check to see if expression is true, if it is, set class to active -->
        <li ng-class="{active:panel.isSelected(1)}">
          <a href ng-click="panel.selectTab(1)">Language</a></li>
        <li ng-class="{active:panel.isSelected(2)}">
          <a href ng-click="panel.selectTab(2)">Quality</a></li>
        <li ng-class="{active:panel.isSelected(3)}">
          <a href ng-click="panel.selectTab(3)">Skill Level</a></li>
      </ul>

      <div class="panel" ng-show="panel.isSelected(1)">
        <h3>Language</h3>
        <p>{{tool.languages}}</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <h3>Quality</h3>
        <p>{{tool.quality}}</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)">
        <h3>Skill Level</h3>
        <p>{{tool.skillLevel}}</p>
      </div>






    </section>


    <div class="tool-list">
      <div ng-repeat="tool in codelinkCtrl.tools | orderBy: '-quality'">
        <h3>{{tool.name}}</h3>
        <p>{{tool.languages | uppercase}}</p>
        <p>{{tool.link}}</p>
        <p>{{tool.description | limitTo: 300}}</p>
        <p>{{tool.quality}}</p>
        <p>{{tool.skillLevel}}</p>
        <!-- only show button if value of the expression is true -->
        <button type="button" class="btn btn-primary" ng-show="tool.canReview">Add a Review</button>

      <!-- Loop through comments -->
      <h3>Comments</h3>
        <blockquote ng-repeat="comment in tool.comments"
          <p>By: {{comment.author}}</p>
          <p>{{comment.body}}
        </blockquote>

        </div>

    </div>

  </body>
</html>
