*{
  box-sizing: border-box;
}
header {
  padding: .5em;
}

body {
  padding: 2em;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
p{
  font-size: 1em;
}

input,
textarea{
  display: block;
  width: 20%;
}
