<div>
  <div class="review">
    <div>
      <h2><a ng-href="/#/reviews/{{reviewCtrl.review.$id}}">{{ reviewCtrl.review.resourceName }}</a> <span class='delete' ng-click="reviewCtrl.delete(reviewCtrl.review.$id)">(X)</span></h2>
      <p>{{ reviewCtrl.review.description }}</p>
    </div>
    <a ng-href="/#/reviews/{{reviewCtrl.review.$id}}/edit">Edit Review</a>
  </div>

  <form class="commentForm" ng-submit="reviewCtrl.createComment(reviewCtrl.comment)">
    <label>Description</label>
    <input type="text" ng-model="reviewCtrl.comment.content" name="content">
    <button type="submit">Submit</button>
  </form>
  <ul ng-repeat="comment in reviewCtrl.review.comments | orderBy:'-created_at'">
    <li>
      <strong>{{comment.authorName}}</strong>
      <small>{{comment.created_at}}</small><br>
      {{comment.content}}
    </li>
  </div>

</div>
