<div>
  <form>
    <label>Resource Name</label>
    <input type="text" data-ng-model="review.resourceName">
    <label>Description</label>
    <textarea data-ng-model="review.description">new review description</textarea>
    <span data-ng-if="review.$id">
      <a data-ng-href="/#/reviews/{{review.$id}}">&larr; Back</a>
      <button class="new" data-ng-click="review.$update()">Save</button>
    </span>
    <span data-ng-if="!review.$id">
      <button class="new" data-ng-click="review.$create()">Create</button>
    </span>
  </form>
</div>
